table{

 border-collapse: collapse;
 width: 100%;
 margin-bottom: 20px;
 border:1px solid black; 
}
th,td
{
 border:1px solid black; 
padding:5px;
text-align:left;
}
body{
background-color:pink;
}